@model TheLottoApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4 style="text-align:center;">Create a new account.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "input-email", placeholder = "Email address" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })   
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })

            @Html.DropDownListFor(m => m.SelectedSubscription, Model.SubscriptionOption, "Select Level", new { @class = "form-control" })<br />

            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Register</button>
        }
    </div><!-- /card-container -->
</div><!-- /container -->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
