@using TheLottoApp.Models
@model NumberGeneratorViewModel
@{
    ViewBag.Title = "Lucy Number Generator";
}
<script src="~/Scripts/Custom/RangeSlider.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/Custom/RangeSlider.css" />

<!--Calculator Area-->
@*<div class="container calculator">
    <div class="well">
        <h3 style="text-align:center;">Lucky Number Generator</h3><br />
        @using (Ajax.BeginForm("GenerateNumber", "NumberGenerator", new AjaxOptions() { OnSuccess = "getresult", HttpMethod = "post" }, new { enctype = "multipart/form-data", @class = "form form-horizontal", data_toggle = "validator" }))
        {
            @Html.AntiForgeryToken();
            //@Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <label class="col-md-3 control-label" for="age">Number of Odds</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(x=>x.NumberOfOdds, new { @type = "number", @class = "form-control", @value = "1" }) Pawan This is the baseline, repeat the same for 
                                                                                                                             all other fields in the form. I'll leave it post-design
                    @Html.ValidationMessageFor(m => m.NumberOfOdds, "", new { @class = "text-danger" })
                </div>
            </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="salary">Numbers below 15</label>
                        <div class="col-md-9">
                            <input class="form-control" name="numberBelow15" id="numberBelow15" placeholder="2" type="number"  data-error="The field is not valid" >
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="retire">Numbers between 15 and 30</label>
                        <div class="col-md-9">
                            <input class="form-control" name="numberBetween1530" id="numberBetween1530" placeholder="2" type="number"  data-error="The field is not valid" >
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="contribution">Score Range</label>
                        <div class="col-md-9">
                            <input class="form-control" id="contribution" name="contribution" placeholder="20%" min="0" type="number" value="" data-error="The additional contribution to super account is not valid" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="status">Number of previous repeat</label>
                        <div class="col-md-9">
                            <input class="form-control" name="numberOfPrevRepeat" id="numberOfPrevRepeat" placeholder="2" type="number" data-error="The field is not valid">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="owner">Numbers to include</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" placeholder="Enter comma separated data" id="numberstoinclude" name="numberstoinclude" />
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="owner">Numbers to exclude</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" placeholder="Enter comma separated data" id="numberstoexclude" name="numberstoexclude" />
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="downsize">Number of games</label>
                        <div class="col-md-9">
                            <input class="form-control" name="numberofgames" id="numberofgames"  placeholder="15" type="number" min="1" value="" data-error="Invalid Selection" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-4">
                            <input type="submit" value="Calculate" class="btn pull-right btn-primary" id="calculate">
                        </div>
                    </div>
        }
    </div>
</div>*@

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row-fluid user-row">
                        <img src="http://s11.postimg.org/7kzgji28v/logo_sm_2_mr_1.png" class="img-responsive" alt="Conxole Admin" />
                    </div>
                </div>
                <div class="panel-body">
                    @using (Ajax.BeginForm("GenerateNumber", "NumberGenerator", new AjaxOptions() { OnSuccess = "getresult", HttpMethod = "post" }, new { enctype = "multipart/form-data", @class = "form form-horizontal", data_toggle = "validator" }))
                    {
                        @Html.AntiForgeryToken();
                        //@Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="col-md-5 control-label" for="age">Number of Odds</label>
                            <div class="col-md-7">
                                @Html.TextBoxFor(x => x.NumberOfOdds, new { @type = "number", @class = "form-control", @value = "1" }) Pawan This is the baseline, repeat the same for
                                all other fields in the form. I'll leave it post-design
                                @Html.ValidationMessageFor(m => m.NumberOfOdds, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label" for="salary">Numbers below 15</label>
                            <div class="col-md-7">
                                <input class="form-control" name="numberBelow15" id="numberBelow15" placeholder="2" type="number" data-error="The field is not valid">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label" for="retire">Numbers between 15 and 30</label>
                            <div class="col-md-7">
                                <input class="form-control" name="numberBetween1530" id="numberBetween1530" placeholder="2" type="number" data-error="The field is not valid">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label" for="contribution">Score Range</label>
                            <div class="col-md-7">
                                <input class="form-control" id="contribution" name="contribution" placeholder="20%" min="0" type="number" value="" data-error="The additional contribution to super account is not valid" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label" for="status">Number of previous repeat</label>
                            <div class="col-md-7">
                                <input class="form-control" name="numberOfPrevRepeat" id="numberOfPrevRepeat" placeholder="2" type="number" data-error="The field is not valid">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label" for="owner">Numbers to include</label>
                            <div class="col-md-7">
                                <input class="form-control" type="text" placeholder="Enter comma separated data" id="numberstoinclude" name="numberstoinclude" />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label" for="owner">Numbers to exclude</label>
                            <div class="col-md-7">
                                <input class="form-control" type="text" placeholder="Enter comma separated data" id="numberstoexclude" name="numberstoexclude" />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label" for="downsize">Number of games</label>
                            <div class="col-md-7">
                                <input class="form-control" name="numberofgames" id="numberofgames" placeholder="15" type="number" min="1" value="" data-error="Invalid Selection" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-4">
                                <input type="submit" value="Calculate" class="btn pull-right btn-primary" id="calculate">
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-5">

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}