@model TheLottoApp.tblLottoHistory

@{
    ViewBag.Title = "EnterWinningNumbers";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home">Home</a></li>
            <li class="breadcrumb-item"><a href="/AdminConsole">Admin Console</a></li>
            <li class="breadcrumb-item active" aria-current="page">Enter Winning Numbers</li>
        </ol>
    </nav>
    <div id="secondaryContainer">
        <h2>Enter Winning Numbers</h2>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div id="entryContainer">
            <div class="row">
                <div class="form-horizontal">
                    @*<h4>tblLottoHistory</h4>*@
                        
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Lotto_Id, "Lotto Id", htmlAttributes: new { @class = "control-label col-md-2 col-md-offset-3" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Lotto_Id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Lotto_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Draw_Date, "Lotto Draw Date", htmlAttributes: new { @class = "control-label col-md-2 col-md-offset-3" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Draw_Date, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Draw_Date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Winning_Numbers, "Winning Numbers (comma separated)", htmlAttributes: new { @class = "control-label col-md-2 col-md-offset-3" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Winning_Numbers, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Winning_Numbers, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-6 col-md-4">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    
</div>
